body{
    margin: 15px;
    padding: 0px;
    background-color: rgb(131, 131, 199)
    
}
.logo{
    width: 20%;
    margin: 50px;
}
.tostado
    width: 20%;
    margin: 50px;
    
  .tostado
    width: 20%;
    margin: 50px;
    
    

}
 
